.search{
    width: auto;
    height: 32px;
    display: flex;
    input{
        height: 32px;
        width: 272px;
        left: 568px;
        top: 24px;
        border-radius: 200px;
        border: 1px solid #00000033;
        margin-right: 16px;
        padding-left: 12px;
    }
}